Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-designated-initializers,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers
WarningsAsErrors: '*'
HeaderFilterRegex: '(.*/)?(include|src)/'
CheckOptions:
  readability-identifier-length.IgnoredVariableNames: 'id|db|to|it'
